h2 {
  margin-top: 20px;
  font-weight: lighter;
}

img {
  display: block;
  width: 100%;
  padding: 10px;
}

.movie-card {
  border: 1px black solid;
  margin: 10px 5px;
  border-radius: 7px;
  padding: 5px;
  text-align: left;
}

h6 {
  font-size: 12px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: small;
}

button {
  font-size: small;
}
